.container
    .row
        .col-md-8
            .row
                - for (var i = 0; i < 3; ++i) 
                    .col.text-center
                        figure.figure
                            img.figure-img.img-fluid.rounded(src='img/brand-others.png' alt='Logo' height='75')
                            figcaption.figure-caption='Logo ' + (i+1) 
                
            .row
                p Nome da rua bairro e numero
        .col-md-4.mb-5
            ul.socialmedia.d-inline-block.m-0.p-0
                li.d-inline.m-0.p-0
                    a(href='#')
                        i.fa.fa-whatsapp
                li.d-inline.m-0.p-0
                    a(href='#')
                        i.fa.fa-instagram
                li.d-inline.m-0.p-0
                    a(href='#')
                        i.fa.fa-facebook
            a.text-blue(href='#') CENTRAL DE ATENDIMENTO