#staff.row
  .container
    ul#pills-tab.nav.nav-pills.mb-3(role='tablist')
      li.nav-item
        a#pills-presidente-tab.nav-link.active(data-toggle='pill' href='#pills-presidente' role='tab' aria-controls='pills-presidente' aria-selected='true') Presidente
      li.nav-item
        a#pills-vicepresidente-tab.nav-link(data-toggle='pill' href='#pills-vicepresidente' role='tab' aria-controls='pills-vicepresidente' aria-selected='false') Vice-Presidente
      li.nav-item
        a#pills-secretarios-tab.nav-link(data-toggle='pill' href='#pills-secretarios' role='tab' aria-controls='pills-secretarios' aria-selected='false') Secretários
      li.nav-item
        a#pills-vicesecretarios-tab.nav-link(data-toggle='pill' href='#pills-vicesecretarios' role='tab' aria-controls='pills-vicesecretarios' aria-selected='false') Vice-Secretários
      li.nav-item
        a#pills-conselheiros-tab.nav-link(data-toggle='pill' href='#pills-conselheiros' role='tab' aria-controls='pills-conselheiros' aria-selected='false') Conselheiros
      li.nav-item
        a#pills-expresidentes-tab.nav-link(data-toggle='pill' href='#pills-expresidentes' role='tab' aria-controls='pills-expresidentes' aria-selected='false') Ex-Presidentes          
    #pills-tabContent.tab-content
      #pills-presidente.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-presidente-tab')
        .card-columns
          - for (var i = 0; i < 9; ++i) {
          .card
            .card-body
              .row.no-gutters
                .img-col.text-center.col-sm-12.col-lg-4.d-md-flex.d-sm-block.d-xs-block.align-content-md-center.flex-md-wrap
                  img.avatar.rounded.float-left(src='img/a0f7c61c3684f58de951faf610b7ffc1.png' alt='titulo')
                .col.d-md-flex.d-sm-block.d-xs-block.align-content-md-center.flex-md-wrap
                  .card-title
                    h5.text-red PRESIDENTE
                    h4.text-blue José Armando da Silva
                  .card-text
                    p.text-gray Engenheiro Eletricista/Telecomunicações
          - }
      #pills-vicepresidente.tab-pane.fade(role='tabpanel' aria-labelledby='pills-vicepresidente-tab')
        .card-columns
          - for (var i = 0; i < 9; ++i) {
          .card
            .card-body
              .row.no-gutters
                .img-col.text-center.col-sm-12.col-lg-4.d-md-flex.d-sm-block.d-xs-block.align-content-md-center.flex-md-wrap
                  img.avatar.rounded.float-left(src='img/a0f7c61c3684f58de951faf610b7ffc1.png' alt='titulo')
                .col.d-md-flex.d-sm-block.d-xs-block.align-content-md-center.flex-md-wrap
                  .card-title
                    h5.text-red VICE-PRESIDENTE
                    h4.text-blue José Armando da Silva
                  .card-text
                    p.text-gray Engenheiro Eletricista/Telecomunicações
          - }
      #pills-secretarios.tab-pane.fade(role='tabpanel' aria-labelledby='pills-secretarios-tab')
        .card-columns
          - for (var i = 0; i < 9; ++i) {
          .card
            .card-body
              .row.no-gutters
                .img-col.text-center.col-sm-12.col-lg-4.d-md-flex.d-sm-block.d-xs-block.align-content-md-center.flex-md-wrap
                  img.avatar.rounded.float-left(src='img/a0f7c61c3684f58de951faf610b7ffc1.png' alt='titulo')
                .col.d-md-flex.d-sm-block.d-xs-block.align-content-md-center.flex-md-wrap
                  .card-title
                    h5.text-red SECRETÁRIO
                    h4.text-blue José Armando da Silva
                  .card-text
                    p.text-gray Engenheiro Eletricista/Telecomunicações
          - }
      #pills-vicesecretarios.tab-pane.fade(role='tabpanel' aria-labelledby='pills-vicesecretarios-tab')
        .card-columns
          - for (var i = 0; i < 9; ++i) {
          .card
            .card-body
              .row.no-gutters
                .img-col.text-center.col-sm-12.col-lg-4.d-md-flex.d-sm-block.d-xs-block.align-content-md-center.flex-md-wrap
                  img.avatar.rounded.float-left(src='img/a0f7c61c3684f58de951faf610b7ffc1.png' alt='titulo')
                .col.d-md-flex.d-sm-block.d-xs-block.align-content-md-center.flex-md-wrap
                  .card-title
                    h5.text-red VICE-SECRETÁRIO
                    h4.text-blue José Armando da Silva
                  .card-text
                    p.text-gray Engenheiro Eletricista/Telecomunicações
          - }
      #pills-conselheiros.tab-pane.fade(role='tabpanel' aria-labelledby='pills-conselheiros-tab')
        .card-columns
          - for (var i = 0; i < 9; ++i) {
          .card
            .card-body
              .row.no-gutters
                .img-col.text-center.col-sm-12.col-lg-4.d-md-flex.d-sm-block.d-xs-block.align-content-md-center.flex-md-wrap
                  img.avatar.rounded.float-left(src='img/a0f7c61c3684f58de951faf610b7ffc1.png' alt='titulo')
                .col.d-md-flex.d-sm-block.d-xs-block.align-content-md-center.flex-md-wrap
                  .card-title
                    h5.text-red VICE-CONSELHEIRO
                    h4.text-blue José Armando da Silva
                  .card-text
                    p.text-gray Engenheiro Eletricista/Telecomunicações
          - }   
      #pills-expresidentes.tab-pane.fade(role='tabpanel' aria-labelledby='pills-expresidentes-tab')
        .card-columns
          - for (var i = 0; i < 9; ++i) {
          .card
            .card-body
              .row.no-gutters
                .img-col.text-center.col-sm-12.col-lg-4.d-md-flex.d-sm-block.d-xs-block.align-content-md-center.flex-md-wrap
                  img.avatar.rounded.float-left(src='img/a0f7c61c3684f58de951faf610b7ffc1.png' alt='titulo')
                .col.d-md-flex.d-sm-block.d-xs-block.align-content-md-center.flex-md-wrap
                  .card-title
                    h5.text-red EX-PRESIDENTE
                    h4.text-blue José Armando da Silva
                  .card-text
                    p.text-gray Engenheiro Eletricista/Telecomunicações
          - }       